@page "/users/login"
@inject IAuthenticationService authService
@inject NavigationManager NavigationManager

<h3>Login</h3>
<div class="card-body">
    <EditForm Model="LoginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="email">E-mail address</label>
            <InputText class="form-control" @bind-Value="LoginModel.Email" />
            <ValidationMessage For="@(() => LoginModel.Email)" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText class="form-control" type="password" @bind-Value="LoginModel.Password" />
            <ValidationMessage For="@(() => LoginModel.Password)" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-block">Register</button>

    </EditForm>
</div>

@code {
    private LoginUserDto LoginModel = new();

    private string message = string.Empty;

    private async Task HandleLogin()
    {
        try
        {
            var response = await authService.AuthenticateAsync(LoginModel);
            NavigationManager.NavigateTo("/");

        }
        catch (ApiException ex)
        {
            message = ex.Message;

        }
    }

}
